@import "../../variables.scss";

.contact_page {
  .main_wrapper {
    margin-top: 100px;
    .container {
      display: flex;
      gap: 30px;

      .txt_con {
        width: 45%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .info_box {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .box {
            display: flex;
            gap: 10px;

            span {
              min-height: 40px;
              min-width: 40px;
              height: 40px;
              width: 40px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 16px;
              background: $primary_color;
              color: white;
            }

            .txt {
              h4 {
                text-transform: capitalize;
                font-size: 15px;
              }
            }
          }
        }

        .work_hours {
          h4 {
            text-transform: capitalize;
            font-size: 15px;
          }

          p {
            text-transform: capitalize;
            padding-top: 5px;
          }
        }
      }

      .form_section {
        width: 55%;

        h4 {
          text-transform: capitalize;
          font-size: 15px;
        }

        form {
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          gap: 15px;
          .col {
            display: flex;
            gap: 15px;

            @media (max-width: 500px) {
              flex-direction: column;
            }
          }

          .input_con {
            flex: 1;
            .err {
              font-size: 13px;
              color: rgb(232, 68, 68);
            }
            .input {
              border: 1px solid rgb(177, 176, 176);
              position: relative;
              border-radius: 5px;
              overflow: hidden;
              flex: 1;
              width: 100%;

              input,
              textarea {
                padding: 15px;
                width: 100%;
                outline: none;
                border: none;
                background: transparent;
              }
              textarea {
                height: 200px;
              }
            }
          }

          .btn {
            display: flex;
            justify-content: right;
            button {
              flex: 0.3;
              align-items: center;
              justify-content: center;
              white-space: nowrap;
            }
          }
        }
      }

      @media (max-width: 900px) {
        flex-direction: column;

        .txt_con {
          width: 100%;
        }

        .form_section {
          width: 100%;
        }
      }
    }

    @media (max-width: 900px) {
      margin-top: 50px;
    }
  }

  .api_message_con {
    position: fixed;
    top: 100px;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, 0) scale(1);
    background: #a7d3a7;
    box-shadow: 0 0 5px rgb(194, 193, 193);
    padding: 15px 10px;
    border-radius: 5px;
    overflow: hidden;
    min-width: 200px;
    width: 100%;
    max-width: 300px;
    transition: 0.4s ease;
    animation: animate 500ms ease;

    @keyframes animate {
      0% {
        transform: translate(-50%, -150px) scale(0);
      }
    }

    &.error {
      background: #ffb6b6;
    }

    p {
      font-size: 15px;
      text-align: center;
      color: rgb(10, 141, 10);
      &.error {
        color: rgb(233, 25, 25);
      }
    }
  }
}
