@import "../../variables.scss";

.home_page {
  // HOME SECTION STARTS HERE
  .home_section {
    width: 100%;
    height: fit-content;
    background: $bg_color_alt;

    .main_wrapper {
      padding-top: 50px;
      .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .txt_con {
          width: 50%;
          padding-top: 140px;

          h1 {
            font-size: 40px;

            span {
              color: $primary_color;
            }
          }

          p {
            padding: 20px 0 30px 0;
            font-size: 16px;
          }

          .btns {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
              border: 2px solid transparent;
              &:first-child {
                button {
                  background: transparent;
                  border: 2px solid $primary_color;
                  color: $primary_color;
                }
              }
            }
          }

          .license {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-top: 40px;

            p {
              font-size: 13px;
            }

            img {
              width: 50px;
              height: 30px;
            }
          }
        }

        .img_con {
          width: 40%;
          height: 650px;
        }

        @media (max-width: 1200px) {
          .txt_con h1 {
            font-size: 35px;
          }

          .img_con {
            height: 600px;
          }
        }

        @media (max-width: 1024px) {
          .img_con {
            height: 550px;
          }
        }

        @media (max-width: 900px) {
          padding-top: 170px;
          padding-bottom: 100px;

          .txt_con {
            width: 90%;
            padding-top: 0;
          }

          .img_con {
            display: none;
          }
        }

        @media (max-width: 500px) {
          .txt_con {
            width: 100%;

            h1 {
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  // HOME SECTION ENDS HERE

  // SERVICES SECTION STARTS HERE
  .services_wrapper {
    display: flex;
    flex-direction: column;

    .service_con {
      margin-top: 70px;

      &:nth-child(2) {
        .container {
          flex-direction: row;
        }
      }
      .container {
        display: flex;
        gap: 30px;
        flex-direction: row-reverse;
        align-items: center;
      }

      .img_con {
        width: 50%;
        height: 400px;
        overflow: hidden;
        border-radius: 5px;
      }

      .txt_con {
        width: 50%;

        p {
          padding: 15px 0 20px 0;
        }
      }

      @media (max-width: 900px) {
        &:nth-child(2) {
          .container {
            gap: 20px;
            flex-direction: column-reverse;
          }
        }
        .container {
          gap: 20px;
          flex-direction: column-reverse;
        }

        .img_con {
          width: 100%;
        }

        .txt_con {
          width: 100%;
        }
      }

      @media (max-width: 500px) {
        .img_con {
          height: 300px;
        }
      }

      @media (max-width: 435px) {
        .img_con {
          height: 240px;
        }
      }
    }
  }
  // SERVICES SECTION ENDS HERE
}
